.App {
  text-align: center;
  box-sizing: border-box;
  padding: 30px;
  max-width: 790px;
  margin: 50px auto;

  background: #E0E6EE;
  border-radius: 8px;
}

@media (max-width: 800px) {
  .App {
    margin: 16px 16px;
    padding: 21px;
  }
}